/* Ingredients.css */

.Ingredients-container {
  padding: 20px;
}

.Ingredients-title {
  text-align: center;
  margin-bottom: 10px;
}

.Ingredients-description {
  text-align: center;
  margin-bottom: 20px;
}

.grid-container {
  display: flex;
  justify-content: center;  /* Center the grid items horizontally */
  flex-wrap: wrap;
  gap: 20px;
}

.content-container {
  margin-top: 50px;
  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items: center; /* Center items horizontally */
  width: 300px; /* Increase the width slightly */
  height: 350px; /* Increase the width slightly */
  border: 1px solid #ccc;
  padding: 10px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
}

.image-placeholder {
  width: 100%; /* Make image responsive to container width */
  aspect-ratio: 1 / 1; /* Set aspect ratio to 1:1 to keep the image square */
  object-fit: cover; /* Ensure the image covers the area without distortion */
  margin-bottom: 10px; /* Space between image and text */
}

.description {
  text-align: center;
}
