.Ingredients-container {
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.Ingredients-title {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.Ingredients-description {
  font-size: 1.2rem;
  margin-bottom: 3rem;
}

.Ingredients-container .grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.Ingredients-container .content-container {
  background-color: #f9f9f9;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: left;
  display: flex; /* Use flexbox for centering */
  flex-direction: column; /* Stack children vertically */
  align-items: center; /* Center horizontally */
  justify-content: center; /* Center vertically */
  width: 300px;
  height: 350px;
}



.Ingredients-container .description {
  padding: 1rem 0;
  text-align: center; /* Center text in description */
}

.Ingredients-container .description p {
  font-size: 1rem;
  margin: 0.5rem 0;
}

/* Add margin to shopping list title for more space */
.Ingredients-container .shopping-list-title {
  font-size: 3rem;
  margin-top: 150px; /* Adjust this value to increase spacing */
}

/* Style for replenish list */
.Ingredients-container .replenish-list {
  font-size: 1.5rem;
  margin-bottom: 1rem; /* Adjust this value to control spacing */
}

/* Style for shopping list section */
.Ingredients-container .shopping-list {
  font-size: 1.2rem;
  margin-top: 20px; /* Adjust this value to control spacing */
}

/* Remove bullet points and center align list items */
.Ingredients-container .shopping-list ul {
  list-style-type: none; /* Remove default bullet points */
  padding: 0; /* Remove default padding */
  margin: 0; /* Remove default margin */
  text-align: left; /* Align list items to the left */
  display: inline-block; /* Ensure ul does not stretch full width */
}

.Ingredients-container .shopping-list li {
  font-size: 1.3rem;
  margin-bottom: 20px;
}


.ingredient-image {
  width: 100px;
  height: auto;
  margin-bottom: 10px;
}

